@import "tailwindcss";

:root {
  font-family: "Noto Sans KR", sans-serif;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1a1a1a;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
  display: block;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

@theme {
  --color-brand: #3b82f6;
  --color-brand-dark: #2563eb;
}

@layer base {
  h2 {
    @apply leading-tight;
  }
}